:root{
    --main-bg-color: #f4f4f4;
    --main-txt-color: #333;
    --container-width: 90%;
    --header-bg-color: #333;
    --header-txt-color:#000;
}
body{
    margin:0;
    padding:0;
    line-height:1.5;
    background-color: var(--main-bg-color);
    color:var(--main-txt-color);
}
.container{
    width: var(--container-width);
    margin: 20px auto;
}
header#main-header{
    background-color:var(--header-bg-color);
    color:var(--header-txt-color);
}
header#main-header h1{
    margin:0;
    padding:0;
}


.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    --gap:20;
    grid-gap:calc(var(--gap) * 1px);
    align-items: center;
}

/*box class scope variables*/
.box{
--box-bg-color:#ddd;
--box-main-color:#06c;
--box-padding:5px 10px;
}

.box{
   background-color: var(--box-bg-color);
   padding: var(--box-padding);
   border:1px solid var(--box-main-color);
   box-shadow: 10px 5px 5px var(--box-main-color);
}

.box h1{
    color: var(--box-main-color);
}

.box p{
    /*overriding the same var for this scope */
    --box-main-color: #454545;
    color: var(--box-main-color, #777);
}